.calculator {
  width: 400px;
  background: rgb(255, 255, 255);
  padding: 23px;
  margin: 50px auto;

  box-shadow: 0px 0px 5px ;
}
button.btn.btn-primary.man {
  width: 23%;
  line-height: 45px;
  margin: 2px;
  justify-content: center;
}
button.btn.btn-primary.man1 {
  width: 31%;
  line-height: 45px;
  margin: 2px;
  justify-content: center;
}
.allbtn {
  margin: 35px 8px;
  width: 100%;
  padding: 10px;
}

input#result {
    height: 72px;
    box-shadow: 0px 0px 2px;
    text-align: end;
    font-size: 49px;
}
